<!--<p>view works!</p>-->
<div class="form-froup row mt-2">
    <label class="col-sm-3 col-form-label">First Name</label>
        <div class="col-sm-9">
            <input type="text" id="fname" class="form-control" [(ngModel)]="FirstName" placeholder="Enter First Name" readonly>
        </div>
    </div>
    
    <div class="form-froup row mt-2">
        <label class="col-sm-3 col-form-label">Last Name</label>
            <div class="col-sm-9">
                <input type="text" id="lname" class="form-control" [(ngModel)]="LastName" placeholder="Enter Last Name" readonly>
            </div>
        </div>
    
        <div class="form-froup row mt-2">
            <label class="col-sm-3 col-form-label">Address</label>
                <div class="col-sm-9">
                    <input type="text" id="address" class="form-control" [(ngModel)]="Address" placeholder="Enter Address" readonly>
                </div>
            </div>
    
        <div class="form-froup row mt-2">
            <label class="col-sm-3 col-form-label">Phone</label>
                <div class="col-sm-9">
                    <input type="text" id="phone" class="form-control" [(ngModel)]="Phone" placeholder="Enter Phone number" readonly>
                </div>
            </div>